<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AstroPlay"
        tools:targetApi="31">
        <activity
            android:name=".view.DmcaActivity"
            android:exported="false" />
        <activity
            android:name=".view.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.RequestActivity"
            android:exported="false" />
        <activity
            android:name=".view.TermsActivity"
            android:exported="false" />
        <activity
            android:name=".view.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.PlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:screenOrientation="sensorLandscape" />
        <activity
            android:name=".view.MovieDetailActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="astroplay.dev"
                    android:scheme="https" />
                <data android:pathPrefix="/appmovie" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.AuthenticationActivity"
            android:exported="false" />
        <activity
            android:name=".view.MainActivity"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="astroplay.dev"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.App.Starting">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".model.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher2" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/palette_red" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="1" />
        <meta-data
            android:name="firebase_messaging_auto_init_enabled"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-1892256007304751~6716095706" />
    </application>

</manifest>